DirectoryIndex index.php index.html index.htm

ErrorDocument 400 /index.php?a=error&b=400
ErrorDocument 403 /index.php?a=error&b=403
ErrorDocument 404 /index.php?a=error&b=404
ErrorDocument 500 /index.php?a=error&b=500
ErrorDocument 503 /index.php?a=error&b=503

# Don't show directory listing
# For security reasons, Option followsymlinks cannot be overridden
Options -ExecCGI -FollowSymLinks +SymLinksIfOwnerMatch -Indexes

# Encoding issues
AddType 'text/html; charset=UTF-8' html
AddType 'text/xml; charset=UTF-8' atom rss xml

<IfModule mod_rewrite.c>
	RewriteEngine On
	# RewriteBase /apadana/

	RewriteRule ^index.(html|htm)$ index.php [L,QSA]
	RewriteRule ^sitemap.xml$ index.php?a=sitemap
	RewriteRule ^u@([a-zA-Z0-9-_]*)$ index.php?a=account&b=profile&c=$1
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?mod_rewrite=$1 [L,QSA]
</IfModule>

# Restrict access to files
<FilesMatch "\.(inc|sql|back|cache|tpl|log|ihtml|class|module|bin|ini|conf|h|spd)$">
	deny from all
</FilesMatch>