@font-face {
	font-family: 'BKoodakBold';
	src: url('../fonts/BKoodakBold.eot?#') format('eot'),
         url('../fonts/BKoodakBold.woff') format('woff'),
         url('../fonts/BKoodakBold.ttf') format('truetype');
}
body {
	background: #D2D2D2 url(../images/bg.jpg);
	font-family: Tahoma;
	font-size: 9pt;
	color: Black;
	border-top: #adadad 1px solid;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: Black;
}
a:hover {color:Red}
a:active {color:#9900FF}
img {max-width:99%;border:none}

table {
	width: 100%;
	font-size: 9pt;
}
input, textarea, select, button  {
    max-width: 99.6%;
	font-size: 9pt;
	font-family: Tahoma;
    background: #F3F3F3;
    border: #d7d7d7 1px solid;
    padding: 4px;
}
option[selected=selected] {
	background: #0080c0;
	color: #ffffff
}
input:focus, textarea:focus, select:focus {
    background: #f7f7f7;
    border: #8c8c8c 1px solid;
}
input[type=submit] , input[type=button] , input[type=reset], button {
    color: #FFF;
    border: 1px solid #000;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
    border-radius: 5px;
    border-color: #398439;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
}
input[type=submit]:hover , input[type=button]:hover , input[type=reset]:hover, button:hover,
input[type=submit]:focus , input[type=button]:focus , input[type=reset]:focus, button:focus {
	background-image: linear-gradient(to top, #5CB85C 0px, #419641 100%);
	border-color: #398439;
}
input[type=radio] , input[type=checkbox] {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}
::-moz-selection {
	background-color: Black;
	color: White;
}
::selection {
	background-color: Black;
	color: White;
}
ul,li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#wrap {
	width: 892px;
	text-align: right
}
#wrap #header{
	margin-bottom: 10px
}
#wrap #header #logo{
	display: block;
	float: right;
	width: 109px;
	height: 48px;
}
#wrap #header #menu{
	float: left;
	width: 400px;
	height: 45px;
}
#wrap #header #menu a {
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 5px
}
#wrap #header #menu a,#wrap #header #logo {
	background: url(../images/icon.png) no-repeat top right;
}
#wrap #header #menu #menu-icon-home {
	background-position: left bottom;
}
#wrap #header #menu #menu-icon-home:hover {
	background-position: left top
}
#wrap #header #menu #menu-icon-counter {
	background-position: -45px -45px;
}
#wrap #header #menu #menu-icon-counter:hover {
	background-position: -45px 0px;
}
#wrap #header #menu #menu-icon-blocks {
	background-position: -90px -45px;
}
#wrap #header #menu #menu-icon-blocks:hover {
	background-position: -90px 0px;
}
#wrap #header #menu #menu-icon-new-post {
	width: 41px;
	background-position: -135px -45px;
}
#wrap #header #menu #menu-icon-new-post:hover {
	background-position: -135px 0px;
}
#wrap #header #menu #menu-icon-account {
	width: 39px;
	background-position: -176px -45px;
}
#wrap #header #menu #menu-icon-account:hover {
	background-position: -176px 0px;
}
#wrap #header #menu #menu-icon-modules {
	width: 44px;
	background-position: -218px -45px;
}
#wrap #header #menu #menu-icon-modules:hover {
	background-position: -218px 0px;
}
#wrap #header #menu #menu-icon-backup {
	width: 41px;
	background-position: -263px -45px;
}
#wrap #header #menu #menu-icon-backup:hover {
	background-position: -263px 0px;
}
#wrap #header #menu #menu-icon-exit {
	width: 45px;
	background-position: -305px -45px;
}
#wrap #header #menu #menu-icon-exit:hover {
	background-position: -305px 0px;
}
.content{
	margin-bottom: 1px;
	width: 892px;
	background-color: #FFF;
	border-radius: 3px 3px 0 0;
	box-shadow: 0px 0px 5px 0px #000;
}
.content .content-tabs{
	width: 892px;
	height: 33px;
	border-radius: 3px 3px 0px 0px;
	font-family: BKoodakBold, Tahoma;
	font-size: 13pt;
	color: #777777;
	overflow: hidden;
}
.content .content-tabs ul{
	height: 32px;
	border-bottom: 1px solid #B3B3B3;
	background: -moz-linear-gradient(center top , #EFEFEF, #D8D8D8) repeat scroll 0% 0% / 100% auto #EAEAEA;
}
.content .content-tabs ul li{
	float: right;
	height: 32px;
	line-height: 33px;
	padding: 0px 8px 0px 8px;
	cursor: pointer;
}
.content .content-tabs ul li.tab-on{
	background: White;
	border-right: #B3B3B3 1px solid;
	border-left: #B3B3B3 1px solid;
	border-bottom: 1px solid #FFF;
}
.content .content-tabs ul li:first-child{
	border-right: none;
}
.content .content-tabs ul li:hover{
	background: #D9D9D9;
	color: White;
}
.content .content-title{
	width: 892px;
	height: 43px;
	font-family: BKoodakBold, Tahoma;
	font-size: 13pt;
	line-height: 52px;
	text-indent: 20px;
	cursor: default;
	color: #777777;
}
.content .content-title a{
	color: #777777;
}
.content .content-title a:hover{
	color: Black;
}
.content .content-top{
	width: 892px;
	height: 8px;
/*	background: url(../images/top-content1.png) no-repeat top center;*/
}
.content .content-main{
	width: 892px;
	/*background: url(../images/main-content.png) repeat-y top center;*/
}
.content .content-space{
	padding: 10px
}
.content .content-bottom{
	width: 892px;
	height: 8px;
	/*background: url(../images/bottom-content.png) no-repeat top center;*/
}
.fast-panel {
	background: #E1EAF4;
	padding: 5px;
	margin-bottom: 5px;
	border: #AFC8E2 1px solid;
	cursor: default;
}
#footer {
	cursor: default;
	padding: 5px;
	background: #E3E3E3;
	border-radius: 0 0 3px 3px;
	box-shadow: #000 0px 2px 5px 0px;
	color:#666666
}
#footer a{
	color:#666666
}
#footer a:hover{
	text-decoration:underline
}
#footer span#left {
	float: left;
	direction: ltr;
	text-align: left;
	margin-left: 7px
}
#footer span#right {
	float: right;
	margin-right: 7px
}
.clear{
	clear: both;
}
.label {
    display: inline-block;
    padding: 0.4em 0.6em 0.4em;
    font-size: 75%;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    margin: 4px 2px;
    font-size: 15px;
    background-color: #F0AD4E;
    font-family: 'BKoodakBold';
    cursor: default;
}

#intro , .intro{
	font-family: "BKoodakBold","Tahoma";
	font-size: 18px;
	text-align: center;
}