/******************* MESSAGE */
.apadana-message-info{
	background: #C4E8FF;
	border-bottom: #0099CC 1px solid;
	color: #006F93;
	cursor: default;
	margin-bottom: 8px;
	padding: 8px;
}
.apadana-message-success{
	background: #D6FFC1;
	border-bottom: #339900 1px solid;
	color: #308800;
	cursor: default;
	margin-bottom: 8px;
	padding: 8px;
}
.apadana-message-error{
	background: #ffd3a8;
	border-bottom: #b35900 1px solid;
	color: #b35900;
	cursor: default;
	margin-bottom: 8px;
	padding: 8px;
}
/******************* END MESSAGE */

/******************* TOOLTIP & LOADING */
#apadana-tooltip{
	max-width: 260px;
	position: absolute;
	background: #000;
	padding: 6px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: right;
	display: none;
	color: #fff;
	opacity: 0.75;
	filter:alpha(opacity=75);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999999999;
}
#apadana-loading-layer{
	width: 200px;
	height: 50px;
	line-height: 50px;
	background: #004080;
	color: White;
	text-align: center;
	opacity: 0.86;
	filter:alpha(opacity=86);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
/******************* END TOOLTIP & LOADING */

table.apadana-table {
	width: 100%;
	text-align: center;
	margin: 0px;
	cursor:default
}
.apadana-table tr, .apadana-table tr.apadana-table-even {background: #EEEEEE;}
.apadana-table tr.apadana-table-odd {background: White;}
.apadana-table tr.apadana-table-delete {background: #FFBAA8;}
.apadana-table tr:hover, .apadana-table tr.apadana-table-even:hover, .apadana-table .apadana-table-odd:hover, .apadana-table .apadana-table-delete:hover {background: #D6E2F0;}
.apadana-table td {
	border-bottom: #D6D6D6 1px solid;
	padding: 5px
}
table.apadana-table th {
	background: #AAAAAA;
	color: White;
	text-shadow: 1px 1px 0px Black;
	padding: 9px
}
#apadana-info-box-screen{position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: #000000; opacity: 0.7; filter: alpha(opacity=50); z-index: 9999990; display: none}
#apadana-info-box{position:fixed;top:20%;left:22%;width:50%;background:#FFFFFF;border: #000 2px solid; overflow: hidden;padding: 20px;border-radius: 5px;box-shadow: 0px 0px 15px 1px #000; z-index: 9999999; display: none}
#apadana-info-box li{overflow: hidden; margin: 13px 0px}