body { padding-bottom: 10px; }
#search #s { margin-top: -1px; }
#sidebar .block li { list-style-position: outside; } }
#content input { width: auto; overflow: visible; padding:0 .6em 0 .6em; }
#content .post h1.post-title { background: url(post.gif) no-repeat 0 5px; }



